* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

// сховаю скрол
::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* width of scrollbar'a */
    background: transparent;
}

.header {
    background-color: black;

    .wrapper {
        display: flex;
        align-items: center;
        height: 80px;

        position: relative;
    }
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

///

.header_back_btn {
    color: rgb(214, 211, 211);
    font-size: 22px;

    //cursor: pointer;
    // visibility для того, щоб показати його на сторінці ресторану
}

.header_back_btn span {
    cursor: pointer;
    transition: .3s all;
}

.header_back_btn_link {
    text-decoration: none;
}

.header_back_btn span:hover {
    color: #e66124;
}

.header_back_btn_visab {
    visibility: hidden;
}


// .header_back_btn::before {
//     content: '';

//     position: absolute;
//     left: 0;
//     top: 22px;

//     width: 100px;
//     height: 100px;

//     background-image: url('../resources/images/arrow2.png');
//     background-repeat: no-repeat;
//     background-size: 35px 35px;
// }

/////

.header_logo {
    text-align: center;
    margin: 0 auto;
}

.header_logo__text {
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 328px;
}


.header_valutes__list {
    display: flex;

    // для активної валюти
    .active_valute {
        color: rgb(230, 97, 36);
        border-right: 1px solid rgb(230, 97, 36);
    }
}

.header_valute {
    color: rgb(214, 211, 211);
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    border-right: 1px solid rgb(214, 211, 211);
    padding-right: 5px;
    margin-right: 5px;
    transition: .5s all;
    cursor: pointer;
}

.header_valute:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.header_valute:hover {
    color: rgb(230, 97, 36);
    border-right: 1px solid rgb(230, 97, 36);
}

.header_valute:last-child:hover {
    border-right: none;
}

/* ////////////////////////////////////////////https://bufet.net/uploads/posts/2017-05/1495325512_steyk-iz-govyadiny.jpg//// */

$img-url: linear-gradient(rgba(0, 0, 0, -0.3), rgba(0, 0, 0, 0.7)),
url("../resources/images/pizza.jpg") no-repeat 50% 65%;

//"../resources/images/pizza.jpg"
.mainbanner {
    background: $img-url;

    background-size: 100%;
    height: 250px;
    opacity: 0.95;
}

.mainbanner_headers {
    text-align: center;
    color: white;
    padding-top: 75px;
}

.mainbanner__header_one {
    font-size: 40px;
}

.mainbanner__header_two {
    font-size: 23px;
    font-weight: 500;
}

/* /////////////////////////////////// */

.recipesmenu {
    height: 50px;
    background-color: rgb(207, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;

    span {
        margin-right: 15px;
        color: rgb(53, 53, 53);
        font-size: 18px;
        font-weight: 600;
    }
}

.recipesmenu__list {
    display: flex;
    list-style: none;

    align-items: center;
    margin-top: 15px;
}


.list_item {
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;

    border-bottom: 4px solid transparent;
    padding-bottom: 9px;

    cursor: pointer;
    transition: .5s all;
}

.list_item:hover {
    color: rgb(53, 53, 53);
    border-bottom: 4px solid rgb(53, 53, 53);
    padding-bottom: 9px;
}

.active_list_item {
    color: rgb(53, 53, 53);
    border-bottom: 4px solid rgb(53, 53, 53);
    padding-bottom: 9px;
}

/* ////////////////////////////////////////////////////// */

.restaurant {
    display: flex;
    flex-direction: column;

    padding-bottom: 40px;

    a {
        display: block;
        text-decoration: none;
        color: black;

        margin-bottom: 10px;
    }
}

.restaurant__item {
    display: flex;

    border: 2px solid rgb(173, 173, 173);
    width: 100%;

    padding: 20px;

    cursor: pointer;

    transition: .3s all;
}

.restaurant__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.restaurant__item:last-child {
    margin-bottom: 0;
}

.restaurant__item_imgbox {
    margin-right: 20px;

    img {
        width: 150px;
        height: 150px;
    }
}

.restaurant__item_info {
    padding: 3px 0;
}

.restaurant__item_title {
    font-size: 25px;

    margin-bottom: 10px;
}

.restaurant__item_category {
    font-size: 18px;
    margin-bottom: 20px;
}

//////// Restaurant page ///////////////

.restourant_case {
    height: 50px;
    background-color: rgb(207, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 14px;
    margin-bottom: 40px;
}

.restourant_case__list {
    display: flex;
    list-style: none;
}

.restourant_case__list_item {
    margin-right: 15px;

    cursor: pointer;
}

.restourant_case__list_item {
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 18px;
    font-weight: 600;

    border-bottom: 4px solid transparent;
    padding-bottom: 11px;

    transition: 0.5s all;
}

.active_restourant_case__list_item {
    color: rgb(53, 53, 53);
    border-bottom: 4px solid rgb(53, 53, 53);
    padding-bottom: 11px;
}

.restourant_case__list_item:hover {
    color: rgb(53, 53, 53);
    border-bottom: 4px solid rgb(53, 53, 53);
    padding-bottom: 11px;
}

//////////
.hidden {
    display: none;
}

.order {
    margin-bottom: 40px;
}

.order .wrapper {
    display: flex;
    justify-content: space-between;
}

.foodlist {
    width: 50%;
}

.food_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    border: 2px solid rgb(173, 173, 173);

    margin-bottom: 10px;
    cursor: pointer;

    transition: 0.3s all;
}

.food_list_item:last-child {
    margin-bottom: 0;
}

.food_info_title {
    font-size: 25px;
    margin-bottom: 10px;
}

.food_info_category {
    font-size: 18px;
    margin-bottom: 20px;
}

.food_price {
    font-size: 22px;
    color: rgb(230, 133, 23);
    font-weight: 600;
}

.food_item_count {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
    color: rgb(161, 161, 161);
}

.food_item_btns {
    display: flex;
    justify-content: space-between;
}

.food_item_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: rgb(230, 133, 23);
    font-weight: 600;
    font-size: 23px;

    color: rgb(214, 211, 211);
    cursor: pointer;

    transition: 0.3s all;
}

// disable minus btn, when 0
.food_item_btn.minus {
    pointer-events: none;
}

.food_item_btn:hover {
    background-color: rgb(177, 118, 51);
}

.food_item_btn:last-child {
    margin-left: 5px;
}

/* /////////////////// */

.basket {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: bisque;
    width: 48%;
    text-align: center;
    padding: 0 15px 15px 15px;
}

.basket_title {
    font-size: 25px;
    margin: 25px 0;
    font-weight: 600;
}

.basket_items {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.basket_items.empty {
    font-size: 20px;
}

.basket_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5px;
}

.basket_item_name {
    width: 50%;
    text-align: left;
}

.basket_item_func {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.basket_item_price {
    width: 15%;
    text-align: right;
}

.basket_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    background-color: rgb(141, 141, 141);
    font-weight: 600;
    font-size: 20px;

    color: rgb(214, 211, 211);
    cursor: pointer;

    transition: 0.3s all;
}

.basket_btn.minus {
    pointer-events: none;
}

.basket_btn:hover {
    background-color: rgb(100, 100, 100);
}

.basket_count {
    margin: 0 5px;
}

.basket_total {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.basket_total_item {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
}

.basket_total_item_s {
    text-transform: uppercase;
}

.basket_total_item.end {
    font-weight: 600;
}

.checkout_btn {
    border: none;
    width: 100%;
    font-size: 22px;
    padding: 10px 0;
    color: rgb(214, 211, 211);
    background-color: rgb(209, 98, 7);
    cursor: pointer;
    transition: 0.2s all;
}

.checkout_btn:hover {
    background-color: rgb(231, 143, 71);
}

// ////////////////////////////////// Reviews block
.reviewsList {
    display: flex;
    flex-direction: column;
}

.review_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    width: 100%;
    border: 2px solid rgb(173, 173, 173);
    margin-bottom: 15px;
}

.review_item_name {
    font-size: 25px;
    margin-bottom: 10px;
}

.review_item_text {
    font-size: 18px;
}

.review_form {
    display: flex;
    flex-direction: column;

    padding: 20px;
    width: 100%;
    border: 2px solid rgb(173, 173, 173);
    margin-bottom: 15px;
}

.review_form_title {
    margin-bottom: 15px;
}

.review_form_textarea {
    display: inline-block;
    width: 60%;
    max-height: 150px;
    min-height: 100px;
    padding: 5px;
    font-size: 15px;
    border: 2px solid rgb(173, 173, 173);
    margin-bottom: 10px;
}

.review_form_textarea.validate {
    border: 2px solid red;
}


.review_form_raiting {
    display: flex;
    align-items: center;

    margin-bottom: 25px;
}

.review_form_raiting span {
    margin-right: 5px;

    font-size: 18px;
}

.review_form_btn {
    display: inline-block;
    text-align: center;
    background-color: rgb(230, 133, 23);
    border: 2px solid transparent;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    letter-spacing: 2px;

    cursor: pointer;
    transition: 0.3s all;
}

.review_form_btn:hover {
    background-color: white;
    border: 2px solid rgb(230, 133, 23);
    color: rgb(230, 133, 23);
}

// End of rewievs block
////////////////////////////////////////////////////