* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.wrapper {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}

.header_logo {
    margin-left: 43%;
}

.header_logo__text {
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.header_valutes__list {
    display: flex;

    // для активної валюти
    .active_valute {
        color: rgb(230, 97, 36);
        border-right: 1px solid rgb(230, 97, 36);
    }
}

.header_valute {
    color: rgb(214, 211, 211);
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    border-right: 1px solid rgb(214, 211, 211);
    padding-right: 5px;
    margin-right: 5px;
    transition: .5s all;
    cursor: pointer;
}

.header_valute:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.header_valute:hover {
    color: rgb(230, 97, 36);
    border-right: 1px solid rgb(230, 97, 36);
}

.header_valute:last-child:hover {
    border-right: none;
}

/* //////////////////////////////////////////////// */

.mainbanner {
    background: linear-gradient(rgba(0, 0, 0, -0.3),
            rgba(0, 0, 0, 0.7)), url("../resources/images/pizza.jpg") no-repeat 50% 65%;

    background-size: 100%;
    height: 250px;
    opacity: 0.95;
}

.mainbanner_headers {
    text-align: center;
    color: white;
    padding-top: 75px;
}

.mainbanner__header_one {
    font-size: 40px;
}

.mainbanner__header_two {
    font-size: 23px;
    font-weight: 500;
}

/* /////////////////////////////////// */

.recipesmenu {
    height: 50px;
    background-color: rgb(207, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;

    span {
        margin-right: 15px;
        color: rgb(53, 53, 53);
        font-size: 18px;
        font-weight: 600;
    }
}

.recipesmenu__list {
    display: flex;
    list-style: none;
}

.recipesmenu__list_item {
    margin-right: 15px;

    .list_item {
        text-decoration: none;
        color: rgb(116, 115, 115);
        font-size: 18px;
        font-weight: 600;

        border-bottom: 4px solid transparent;
        padding-bottom: 11px;

        transition: .5s all;
    }

    .list_item:hover {
        color: rgb(53, 53, 53);
        border-bottom: 4px solid rgb(53, 53, 53);
        padding-bottom: 11px;
    }

    .active_list_item {
        color: rgb(53, 53, 53);
        border-bottom: 4px solid rgb(53, 53, 53);
        padding-bottom: 11px;
    }
}

/* ////////////////////////////////////////////////////// */

.foodbox {
    display: flex;
    flex-direction: column;

    padding-bottom: 40px;
}

.foodbox__item {
    display: flex;

    border: 2px solid rgb(173, 173, 173);
    width: 100%;

    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;

    transition: .3s all;
}

.foodbox__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.foodbox__item:last-child {
    margin-bottom: 0;
}

.foodbox__item_imgbox {
    margin-right: 20px;

    img {
        width: 150px;
        height: 150px;
    }
}

.foodbox__item_info {
    padding: 3px 0;
}

.foodbox__item_title {
    font-size: 25px;

    margin-bottom: 10px;
}

.foodbox__item_category {
    font-size: 18px;
    margin-bottom: 20px;
}